/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

:root {
  --main-font-family: 'Montserrat', sans-serif;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  outline: none;
}

/* Timer */

.main-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 32px;
}
.container {
  font-family: 'Montserrat', sans-serif;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  background: #fff;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding-left: 16px;
}
.container-btn {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #cfcfcf;
  color: #989898;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 5;
  letter-spacing: 0.04em;
}
.container:active {
  border-radius: 4px;
  border: 1px solid #4e75ff;
}

.container-btn {
  background: #4e75ff;
  color: white;
  cursor: pointer;
}
.container-btn:hover {
  background: #6c8cff;
}
.container-btn:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}
.container:hover {
  border-color: #000;
}

.timer {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
.label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

/* Snackbar */

.form {
  margin-top: 36px;
  margin-left: 156px;
  border: 1px solid transparent;
  transition: border 0.3s;
}
.delay-input:hover {
  border: 1px solid #000;
}

.delay-label {
  font-family: 'Montserrat', sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-center;
  gap: 8px;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.delay-input {
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 24px;
}
.state-fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 16px;
  width: 360px;
  height: 78px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #808080;
}
.state-fieldset:hover {
  stroke: #000;
}

.state-text {
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.btn-label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.label-input-text {
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.notification-btn {
  display: flex;
  width: 390px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  margin-top: 24px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background 0.3s;
  cursor: pointer;
}
.notification-btn:hover {
  background: #6c8cff;
}
